modules = ["python-3.12", "python-base-3.11", "python-3.11"]
run = "python -m pip list --outdated"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "unixODBC"]

[deployment]
run = ["sh", "-c", "python -m pip list --outdated"]

[workflows]
runButton = "Run Tests"

[[workflows.workflow]]
name = "Run Tests"
author = 44869599
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m pytest tests/ -v"
